*{
margin:0px;
padding:0px;
}

body{
font-family:sans-serif;
font-weight: 12px;
margin:0px 25px;
padding:0px;
}

h1{
	font-weight: 16px;
	padding: 10px 0px;
}

h2{
	font-weight: 14px;
	padding:5px 0px;
}

pre {
    background: none repeat scroll 0 0 white;
    border: 1pt dashed black;
    color: black;
    font-size: 8pt;
    overflow: auto;
    padding: 1em 0;
    white-space: pre;
}
