.junislide{
  background: none repeat scroll 0 0 #101010;
  border-radius: 10px 10px 10px 10px;	 
  padding: 25px 30px;
  position:relative;
   overflow: hidden;
  
}
.junislide *{
  margin:0px;
  padding:0px;
 
 
}
.junislide .mcontainer {
    background: none repeat scroll 0 0 #000000;
    overflow: hidden;
    	
}

.mcontainer ul ol {
	
	list-style: none outside none;
}

.mcontainer ul li {
    display: block;
   
}

.mcontainer ul li a{

    display: block;

}
.mcontainer ul:after{
	
	clear:both;
}

.mcontainer ul li a img{
    border: medium none;		
    display: block;
    max-height: 100%;
    max-width: 100%;
}
.junislide span{
	position:absolute;
	top:50%;
	padding:7px;
	margin-top: -5px;
	
}
.junislide span:hover{
	cursor:pointer;
	
}
.junislide span.right {
	
 	right:12px;
	background: url('../images/right.png') no-repeat scroll left top transparent;
	

}

.junislide span.left {
	
 	position:absolute;
	left:12px;
	background: url('../images/left.png') no-repeat scroll left top transparent;
	

}

.junislide ul.pager{
	
	position:absolute;
	bottom:0px;
	left:50%;
	list-style: none outside none;
	

	
}

.junislide ul.pager li{
    display: block;
     font-size: 50px;
     color: #fff;
     float:left;
        
}
.junislide ul.pager li:hover{
	cursor:pointer;
	
	
}

.junislide ul.pager li.active{
	
	color:#568764;
	
}