
*{
margin:0px;
padding:0px;
}

.mcarousel{
  background: none repeat scroll 0 0 #101010;
  border-radius: 10px 10px 10px 10px;	 
  padding: 10px 30px;
  position:relative;
  width:413px;
 
 
}
.mcarousel .mcontainer {
    background: none repeat scroll 0 0 #000000;
    overflow: hidden;
    	
}

.mcontainer ul ol {
	
	list-style: none outside none;
}

.mcontainer ul li {
    display: block;
    float: left;   
}

.mcontainer ul li a{

    display: block;

}

.mcontainer ul li a img{
     border: medium none;		
    display: block;
    max-height: 100%;
    max-width: 100%;
}
.mcarousel span{
	position:absolute;
	top:50%;
	padding:5px;
}
.mcarousel span.right {
	
 	right:12px;
	background: url('../images/right.jpeg') no-repeat scroll left top transparent;
	

}

.mcarousel span.left {
	
 	position:absolute;
	left:12px;
	background: url('../images/left.jpeg') no-repeat scroll left top transparent;
	

}



